In [ ]:
# CASB M185 - Wollman
# Team Ocelot

# Script for Querybuilder
# Output : Chartevents_features.csv

In [ ]:
-- total amount of chartevents = 330712483
/*    
SELECT COUNT(*)
FROM chartevents;
*/

-- confirming itemid for the following features 
-- arterial pressure (53), blood glucose (50809), heart rate (220045), hospital mortality (226893), apacheIV- mortality 
-- prediction (226994)
/* 
SELECT * FROM d_items
WHERE itemid IN (53, 50809, 220045, 226893, 226994);
*/ 

-- total amount of events from chartevents with itemid features = 2762411
/*
SELECT COUNT(*) FROM CHARTEVENTS 
WHERE itemid IN (53, 50809, 220045, 226893, 226994);
*/

--filtering for itemid features from chartevents 
SELECT * FROM CHARTEVENTS 
WHERE itemid IN (53, 50809, 220045, 226893, 226994);


-- retreiving patients first admit age from admissions and combining with patients 
/*
WITH first_admission_time AS
(
  SELECT
      p.subject_id, p.dob, p.gender
      , MIN (a.admittime) AS first_admittime
      , MIN( ROUND( (cast(admittime as date) - cast(dob as date)) / 365.242,2) )
          AS first_admit_age
  FROM patients p
  INNER JOIN admissions a
  ON p.subject_id = a.subject_id
  GROUP BY p.subject_id, p.dob, p.gender
  ORDER BY p.subject_id
)
SELECT
    subject_id, dob, gender, first_admittime, first_admit_age, 
CASE
        -- all ages > 89 in the database were replaced with 300
        WHEN first_admit_age > 89
            then '>89'
        WHEN first_admit_age >= 14
            THEN 'adult'
        WHEN first_admit_age <= 1
            THEN 'neonate'
        ELSE 'middle'
        END AS age_group
FROM first_admission_time
ORDER BY subject_id
*/

In [ ]:
-- without filtering in itemid
/*
SELECT l.subject_id, l.hadm_id, l.itemid, a.hospital_expire_flag
FROM labevents l
RIGHT JOIN admissions a 
ON a.hadm_id = l.hadm_id
*/